
/*Main font family */

@font-face {
    font-family: "Poppins"; 
    font-weight: 300;
    font-display: swap;
    src: url("../fonts/light.woff2") format("woff2"),
         url("../fonts/light.woff") format("woff");
}

@font-face {
    font-family: "Poppins"; 
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/regular.woff2") format("woff2"),
         url("../fonts/regular.woff") format("woff");
}

@font-face {
    font-family: "Poppins"; 
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/medium.woff2") format("woff2"),
         url("../fonts/medium.woff") format("woff");
}

@font-face {
    font-family: "Poppins"; 
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/semibold.woff2") format("woff2"),
         url("../fonts/semibold.woff") format("woff");
}

@font-face {
    font-family: "Poppins"; 
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/bold.woff2") format("woff2"),
         url("../fonts/bold.woff") format("woff");
}


