:root {
    --main-bg: #fff;
    --secondary-bg: #f1f1f1;
    --main-footer-bg: #e4e4e4;
    --main-bluish-color: #5e43c9;
    --main-nav-color: #003555;
    --secondary-bluish-color: #1f1cc2;
    --main-text-color: #000;
    --secondary-text-color: #fff; 
}