<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <header class="site-header">
        <div class="container">
            <div class="site-header__wrapper">
                <a class="logo" href="../index.html">
                    <img class="logo__img" src="../images/svg/logo.svg" alt="Review's logo">
                </a>
                <div class="site-header__inner js-header-inner">
                    <button class="site-header__inner-btn js-close-btn" type="button"></button>
                    <nav class="site-header__nav">
                        <ul class="site-header__list">
                            <li class="site-header__item">
                                <a class="site-header__link" href="../index.html">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a class="site-header__link" href="#">
                                    Reviews
                                </a>
                            </li>
                            <li>
                                <a class="site-header__link" href="#">
                                    Contacts
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="site-header__auth">
                        <a class="site-header__auth-link sign-in-btn" href="./login.html">Sign in</a>
                        <a class="site-header__auth-link sign-up-btn" href="./register.html">Sign up</a>
                    </div>
                </div>
                <button class="site-header__btn js-menu-btn" type="button"></button>
            </div>
        </div>
    </header>
    <main class="site-main">
        <section class="register auth">
            <div class="container">
                <div class="register__wrapper auth__wrapper">
                    <h2 class="auth__title" title="Register">
                        Register
                    </h2>
                    <form class="auth__form js-register-form" action="https://echo.htmlacademy.ru/courses" method="POST" autocomplete="off">
                        <div class="auth__form-group">
                            <span class="auth__input-icon icon-name"></span>
                            <input class="auth__input js-name-input" type="text" name="user_name" placeholder="Name" aria-label="Enter your name">
                            <span class="auth__err-msg js-name-error"></span>
                        </div>
                        <div class="auth__form-group">
                            <span class="auth__input-icon icon-email"></span>
                            <input class="auth__input js-email-input" type="email" name="user_email" placeholder="Email" aria-label="Enter your email">
                            <span class="auth__err-msg js-email-error"></span>
                        </div>
                        <div class="auth__form-group">
                            <span class="auth__input-icon icon-password"></span>
                            <input class="auth__input js-password-input" type="password" name="user_password" placeholder="Password" aria-label="Enter your password">
                            <span class="auth__input-icon icon-eye js-eye-icon"></span>
                            <span class="auth__err-msg js-password-error"></span>
                        </div>
                        <div class="auth__form-group last-input-group">
                            <span class="auth__input-icon icon-password"></span>
                            <input class="auth__input js-password-confirm-input" type="password" name="user_confirm_password" placeholder="Confirm Password" aria-label="Confirm your password">
                            <span class="auth__input-icon"></span>
                            <span class="auth__err-msg js-confirm-password-error"></span>
                        </div>
                        <button class="auth__form-btn" type="submit">
                            Submit
                        </button>
                        <p class="auth__desc" title="Already have an account ?">
                            Already have an account ? <a class="auth__desc-link" href="./login.html">Login</a>
                        </p>
                    </form>
                    <div class="auth__option-wrapper">
                        <p class="auth__option-desc" title="OR LOGIN WITH">
                            OR REGISTER WITH
                        </p>
                        <div class="auth__option-links-wrapper">
                            <a class="auth__option-link linkedin-link" href="#">Register with Linkedin</a>
                            <a class="auth__option-link google-link" href="#">Register with Google</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="site-footer">
        <div class="container">
            <div class="site-footer__wrapper">
                <a class="logo logo--footer" href="../index.html">
                    <img class="logo__img" src="../images/svg/logo.svg" alt="Review's logo">
                </a>
                <nav class="site-footer__nav">
                    <ul class="site-footer__list">
                        <li class="site-footer__item">
                            <a class="site-footer__link" href="../index.html">
                                Home
                            </a>
                        </li>
                        <li class="site-footer__item">
                            <a class="site-footer__link" href="#">
                                Reviews
                            </a>
                        </li>
                        <li class="site-footer__item">
                            <a class="site-footer__link" href="#">
                                Contacts
                            </a>
                        </li>
                    </ul>
                </nav>
                <ul class="site-footer__social-media-list">
                    <li class="site-footer__social-media-item">
                        <a class="site-footer__social-media-link" href="#">
                            <img class="site-footer__social-media-img" src="../images/svg/linkedin.svg" alt="linkedin icon">
                        </a>
                    </li>
                    <li class="site-footer__social-media-item">
                        <a class="site-footer__social-media-link" href="#">
                            <img class="site-footer__social-media-img" src="../images/svg/telegram.svg" alt="telegram icon">
                        </a>
                    </li>
                    <li class="site-footer__social-media-item">
                        <a class="site-footer__social-media-link" href="#">
                            <img class="site-footer__social-media-img" src="../images/svg/youtube.svg" alt="youtube icon">
                        </a>
                    </li>
                </ul>
                <span class="copyright">2023 All rights reserved &copy;</span>
            </div>
        </div>
    </footer>
    <script src="../js/app.js"></script>
    <script src="../js/register.js"></script>
</body>
</html>