@use "../mixins" as mx;

.site-footer__link { 
    text-decoration-line: none !important;
    
}

@media only screen and (max-width: 768px) {
    .site-footer {
        padding-top: 40px;
        padding-bottom: 20px;
        background-color: var(--main-footer-bg);
    }

    .site-footer__wrapper {
        @include mx.flexbox(column, center, center);
        gap: 40px;
    }

    .site-footer__list {
        @include mx.flexbox(row, center, center);
        gap: 15px;
        @include mx.list-unstyled;
    }

    .site-footer__link {
        @include mx.typography(inherit, 300, 18px, normal, start, var(--main-text-color));
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
            color: var(--main-bluish-color);
        }
    }

    .site-footer__social-media-list {
        @include mx.flexbox(row, center, center);
        gap: 15px;
        @include mx.list-unstyled;
    }

    .site-footer__social-media-link {
        transition: opacity 0.3s ease;

        &:hover {
            opacity: 0.8;
        }
    }

    .site-footer__social-media-img {
        width: 25px;
        height: 25px;
        object-fit: contain;
    }

    .copyright {
        @include mx.typography(inherit, 300, 16px, normal, center, rgba(0, 0, 0, 0.50));
    }

    
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .site-footer {
        padding-top: 40px;
        padding-bottom: 20px;
        background-color: var(--main-footer-bg);
    }

    .site-footer__wrapper {
        @include mx.flexbox(column, center, center);
        gap: 40px;
    }

    .site-footer__list {
        @include mx.flexbox(row, center, center);
        gap: 40px;
        @include mx.list-unstyled;
    }

    .site-footer__item {
        @include mx.flexbox(row, center, flex-start);
        
        &::before {
            width: 45px;
            height: 45px;
            margin-right: 20px;
            background-size: contain;
            content: "";
        }

        &:first-child:before {
            background: url("../images/svg/home.svg") no-repeat center;
        }

        &:nth-child(2):before {
            background: url("../images/svg/note.svg") no-repeat center;
        }

        &:nth-child(3):before {
            background: url("../images/svg/contact.svg") no-repeat center;
        }
    }

    .site-footer__link {
        @include mx.typography(inherit, 300, 24px, normal, start, var(--main-text-color));
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
            color: var(--main-bluish-color);
        }
    }

    .site-footer__social-media-list {
        @include mx.flexbox(row, center, center);
        gap: 20px;
        @include mx.list-unstyled;
    }

    .site-footer__social-media-link {
        transition: opacity 0.3s ease;

        &:hover {
            opacity: 0.8;
        }
    }

    .site-footer__social-media-img {
        width: 38px;
        height: 38px;
        object-fit: contain;
    }

    .copyright {
        @include mx.typography(inherit, 300, 18px, normal, center, rgba(0, 0, 0, 0.50));
    }



}

@media only screen and (min-width: 1024px) {

    .site-footer {
        padding-top: 40px;
        padding-bottom: 20px;
        background-color: var(--main-footer-bg);
    }

    .site-footer__wrapper {
        @include mx.flexbox(column, center, center);
        gap: 50px;
    }

    .site-footer__list {
        @include mx.flexbox(row, center, center);
        gap: 40px;
        @include mx.list-unstyled;
    }

    .site-footer__item {
        @include mx.flexbox(row, center, flex-start);
        
        &::before {
            width: 45px;
            height: 45px;
            margin-right: 20px;
            background-size: contain;
            content: "";
        }

        &:first-child:before {
            background: url("../images/svg/home.svg") no-repeat center;
        }

        &:nth-child(2):before {
            background: url("../images/svg/note.svg") no-repeat center;
        }

        &:nth-child(3):before {
            background: url("../images/svg/contact.svg") no-repeat center;
        }
    }

    .site-footer__link {
        @include mx.typography(inherit, 300, 24px, normal, start, var(--main-text-color));
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
            color: var(--main-bluish-color);
        }
    }

    .site-footer__social-media-list {
        @include mx.flexbox(row, center, center);
        gap: 25px;
        @include mx.list-unstyled;
    }

    .site-footer__social-media-link {
        transition: opacity 0.3s ease;

        &:hover {
            opacity: 0.8;
        }
    }

    .site-footer__social-media-img {
        width: 38px;
        height: 38px;
        object-fit: contain;
    }

    .copyright {
        @include mx.typography(inherit, 300, 18px, normal, center, rgba(0, 0, 0, 0.50));
    }


}